<body ng-controller="mapCtrl">
<br>
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Shead</strong><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
          <a ui-sref="photo"><button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:-5px">Upload</button></a>      
        </div>
        <div class="panel-body">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' class="angular-google-map-container"></ui-gmap-google-map>
        </div>
      </div>
    </div> <!-- /container -->
  <br>
</body>