<body>
  <div header></div>
  <div class="container col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" bounds="map.bounds" control="">
              <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" ng-repeat="marker in markers">
              </ui-gmap-marker>

            </ui-gmap-google-map>
        <br>
        <button type="button" class="btn btn-primary btn-block" ng-click="getCurrentLocation()"><span class="ion-navigate"></span> Current Position</button>
        </div>
      </div>
    </div> <!-- /container -->
</body>
