<body ng-controller="photoCtrl">
  <br>
	<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Upload Files</strong>
          <small>Get metadata and upload file</small>
          <a ui-sref="video"><button type="button" class="btn btn-primary pull-right" style="margin-top: -7px">Upload video</button></a>
        </div>
        <div class="panel-body">

          
        <!--   <h4>Select files from your computer</h4>
          <form enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button ng-click="submitPhoto()" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>  -->

          <!-- <input type="text" ng-model="myModelObj"> -->
          
          <span class="btn btn-default btn-block btn-file">
              Browse <input type="file" id="js-upload-files" accept="image/*" multiple>
          </span>

<button ng-click="submitPhoto()" class="btn btn-block btn-primary" id="js-upload-submit">Upload</button>

          <br>
          <br>

         <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*"> -->
          
          <!-- <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div> -->

          <!-- <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
                ng-show="dropSupported">drop files here</div> -->

          <div ng-file-drop-available="dropSupported=true" 
                ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

                    <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>


           <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" 
            ng-style="{'width' : percent + '%'}">
              <span class="sr-only">{{percent}}% Complete</span>
            </div>

          </div>
          <div ng-show="percent != 0">{{percent}}% Complete</div>


          <button ng-click="cancelUpload()" class="btn btn-danger btn-block" ng-show="percent != 0 && percent != 100">Cancel Upload</button>

          <!-- Upload Finished -->
          <!-- <div class="js-upload-finished">
            <h3>Processed files</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
            </div>
          </div> -->

        </div>
      </div>
    </div> <!-- /container -->
  <br>

  <!-- <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>Tag name</th>
          <th>Tag value</th>
        </tr>
      </thead>
      <tbody id="exif-table-body">
      </tbody>
    </table> -->
</body>