<body ng-controller="photoCtrl">
  <br>
  <div class="container col-xs-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Shead</strong><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
          <a ui-sref="map"><button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:-5px">Map</button></a>       
        </div>
        <div class="panel-body">
          <form id="myForm"  class="form-horizontal" ng-submit="submitPhoto()">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">Title</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="model.title" required autofocus> 
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">Type</label>
            <div class="col-sm-11">
                <select class="form-control" ng-model="model.type" ng-init="model.type = model.type || 'none'">
                  <option value="none">None</option>
                  <option value="สังสรรค์">- สังสรรค์</option>
                  <option value="กรี๊ด">- กรี๊ด</option>
                  <option value="เหตุด่วน">- เหตุด่วน</option>
                  <option value="อุบัติเหตุ">- อุบัติเหตุ</option>
                  <option value="ขอความช่วยเหลือ">- ขอความช่วยเหลือ</option>
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">Tags</label>
            <div class="col-sm-11">
              <input placeholder="Tags" type="text" name="test" value="" id="form_tags_input" class="form-control">
            </div>
          </div>


          <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">Files</label>
            <div class="col-sm-11">
              <span class="btn btn-default btn-block btn-file">
              Browse <input type="file" ng-file-select="onFileSelect($files)" id="js-upload-files" accept="image/*" multiple>
              </span>
            </div>
          </div>


          

          <div ng-file-drop-available="dropSupported=true" 
                ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

                    <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>


           <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" 
            ng-style="{'width' : percent + '%'}">
              <span class="sr-only">{{percent}}% Complete</span>
            </div>

          </div>
          <div ng-show="percent != 0">{{percent}}% Complete</div>

          <input ng-click="cancelUpload()" class="btn btn-danger btn-block"  value="Cancel Upload" ng-hide="percent == 0 || percent == 100" type="button">

          <div class="js-upload-finished">
            <h3>Preview

              <input ng-click="clearImg()" class="btn btn-danger btn-sm pull-right" ng-hide="!listImgThumb.length" value="Clear" type="button">

            </h3>
            <div class="list-group">
              <i ng-hide="listImgThumb.length">No image choosed</i>

            <div class="img-review">
              <span ng-repeat="(key, value) in listImgThumb" class="scale-fade">
                  <a ng-click="removeImg(key)">
                    <img img-fix-orientation="value[0]" ng-src="{{value[0]}}" width="100px" ng-class="{'grayscale' : value[1] || value[2]}">
                    <img ng-class="{'overlay_no_gps' : value[1],
                  'overlay_far' : value[2]}">
                  </a>
              </span>
            </div>
              
            </div>
          </div>
          <small ng-hide="!listImgThumb.length">Click the picture to remove </small><br>
          <span ng-hide="totalFiles == processedCount"><b>Loading...</b>
            <!-- <progress value="{{progress}}"></progress> -->
            <img src="img/loading_spinner.gif" width="40px">
          </span>

          <br>

          <button class="btn btn-block btn-primary" id="js-upload-submit" ng-disabled="isDisable" type="submit">Share</button>
        </form>
        </div>
      </div>
    </div> <!-- /container -->
  <br>



</body>