<html ng-app="myApp">
<head>
	<title>Upload</title>
	<script src="bower_components/angularjs/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/exifreader/js/ExifReader.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/myCss.css">
</head>
<body ng-controller="myCtl">

<br>
	<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Upload Files</strong>
          <small>Bootstrap files upload</small>
          <button ng-click="go('/photo')" type="button" class="btn btn-primary pull-right" style="margin-top: -7px">Upload photo</button>
        </div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button ng-click="submit()" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

        </div>
      </div>
    </div> <!-- /container -->
  <br>

  <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>Tag name</th>
          <th>Tag value</th>
        </tr>
      </thead>
      <tbody id="exif-table-body">
      </tbody>
    </table>

</body>
</html>